
a:link{
    display: block;
    font-size: 30px;
    color: red;
    text-decoration: none;

}
a:visited{
    color: gray;
}
a:hover{
    color: orange;
    font-size: 50px;

}
a:focus{
    color: red;
    font-size: 50px;
}