div{
    width: 50px;
    height:50px ;
    border: 1px solid gray;
    display: inline-block;
   background-color:red;
}
/* won't work with div elemen
div:link{
    background-color: black;
}
div:visited{
    background-color: black;
}
 */
div:hover{
    background-color: green;
    cursor: pointer;
}
div:active{
    background-color: yellow;
}